.rc-navbar {
    width: 100%;
    padding: 12px 30px;
    background: linear-gradient(to right, #001f2e, #003a55);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left .logo {
    font-size: 28px;
    font-weight: bold;
    color: #34d3ff;
    text-decoration: none;
}

.nav-center {
    width: 40%;
}

.search-box {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: #173a47;
    color: white;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav-right a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.cart-icon {
    position: relative;
}

.cart-img {
    width: 28px;
}

#cartCount {
    position: absolute;
    top: -5px;
    right: -8px;
    background: #00eaff;
    color: black;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
}
