body{
    background:#02101f;
    font-family:poppins;
    text-align:center;
    color:white;
    margin:0;
}

.box{
    max-width:650px;
    background:#062a42;
    margin:60px auto;
    padding:35px;
    border-radius:12px;
    box-shadow:0 0 25px cyan;
}

h1{
    color:#00eaff;
    font-size:34px;
}

p{
    font-size:18px;
    margin:10px 0;
}

span{
    color:#00ff9d;
    font-weight:bold;
}

.btn{
    padding:14px 28px;
    font-size:18px;
    border:none;
    border-radius:8px;
    background:#00eaff;
    color:#002733;
    font-weight:bold;
    cursor:pointer;
    margin-top:18px;
}

.btn:hover{
    transform:scale(1.05);
    box-shadow:0 0 18px aqua;
}

.whatsapp{
    background:#25D366;
    color:#022b18;
}

.invoice-btn{
    background:yellow;
    color:black;
    padding:14px 28px;
    border-radius:8px;
    font-size:17px;
    font-weight:600;
    border:none;
    margin-top:10px;
    cursor:pointer;
    box-shadow:0 0 15px #f2ff00;
}
