{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Select Payment Method</title>
  <link rel="stylesheet" href="{% static 'css/payment.css' %}">
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>

<div class="page-wrap">
  <div class="header">
    <div class="breadcrumb">
      🛒 Cart › Address › <span class="active-step">Payment</span>
    </div>
    <div class="center-brand">
      <div class="header-title">RCStore</div>
      <div class="tagline">The Trusted Tech Store</div>
    </div>
    <div class="secure-right">Secure 🔒</div>
  </div>

  <h2>Select Payment Method</h2>

  <div class="options">

    <!-- RAZORPAY LIVE PAYMENT -->
    <div class="card" onclick="startRazorpay()">
      <div class="icon">📱</div>
      <h3>UPI / Card / NetBanking</h3>
      <p>PhonePe, Google Pay, Paytm, BHIM, Cards & Banks</p>
    </div>

    <!-- COD -->
    <div class="card" onclick="window.location.href='{% url 'cod_details' %}'">
      <div class="icon">🚚</div>
      <h3>Cash on Delivery</h3>
      <p>Pay when product is delivered</p>
    </div>
  </div>

  <div class="back-btn" onclick="history.back()">← Back</div>

  <footer class="pay-footer">
    <div class="pay-footer-box">
      <h4>Legal</h4>
      <a href="{% url 'website_policy' %}">Website Policy</a>
      <a href="{% url 'return_policy' %}">Return & Refund Policy</a>
      <a href="{% url 'return_request' %}">Return Request</a>
    </div>
    <div class="pay-footer-box">
      <h4>Need Help?</h4>
      <p>📞 96252 52254</p>
      <p>📧 support@rcshop.co.in</p>
    </div>
  </footer>
</div>

<script>
function startRazorpay(){
  fetch("{% url 'create_razorpay_order' %}", {method:"POST"})
  .then(res => res.json())
  .then(data => {
    var options = {
      "key": "{{ settings.RAZORPAY_KEY_ID }}",
      "amount": data.amount,
      "currency": "INR",
      "name": "RCShop",
      "description": "Secure Payment",
      "order_id": data.order_id,
      "handler": function (response){
        window.location.href = "{% url 'razorpay_success' %}?payment_id=" + response.razorpay_payment_id;
      },
      "theme": {"color":"#00f0ff"}
    };
    new Razorpay(options).open();
  });
}
</script>

</body>
</html>
